html,
body {
  margin: 0px;
  padding: 0px;
      width: 100vw;
    height: 100hw;
    overflow-x: hidden;
}

* {
  font-family: "Heebo", sans-serif;
  color: #020253;
}

.container {
  display: flex;
  width: 100%;
}

.photo {
  width: 50%;
}

img {
  width: 100%;
  object-fit: cover;
}

.sign {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  direction: column;
}

h1 {
  font-size: 2rem;
  /* width:  max-content; */
}

h1,
form,
button {
  font-weight: 1000;
}

p {
  font-size: 1rem;
  /* width:  max-content; */
}

form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.tomer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f50b33;
  color: white;
  width: 10.375rem;
  min-height: 3.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: none;
}

input {
  display: block;
  border: none;
  border-bottom: 3px solid #f50b33;
  background-color: #f6f6f6;
  width: 18.75rem;
  min-height: 2rem;
  margin-bottom: 0.625rem;
}

input:focus {
  outline: none;
}

span {
  color: #f50b33;
}

/* media Quires */

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
  }

  .tomer {
    width: 100%;
    max-height: 50%;
    margin: 0px;
  }

  .sign {
    width: 100%;
  }

  .photo {
    width: 100%;
  }

  .photo img {
    height: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
